body{
    margin: 0;
    padding: 0;}

ul{
    list-style-type: '+';
}

ol, ul{
    border: 1px dashed chocolate;
    background-color: antiquewhite;
    padding: 10px 10px 10px 30px;
}

div{
    border: 2px dotted green;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.371);
    margin: 40px;
    display: inline-block;
}